<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black">
  <!-- <div class='h-1/5 w-auto z-150 bottom-0 p-2 absolute bg-amber-400'>
    <span class="flex justify-center">^</span>
    <div class="h-5/6 bg-white flex overflow-x-scroll">
      <div class="w-1/4 h-full bg-black"></div>
      <div class="w-1/4 h-full bg-rose-700"></div>
      <div class="w-1/4 h-full bg-blue-700"></div>
      <div class="w-1/4 h-full bg-yellow-700"></div>
      <div class="w-1/4 h-full bg-green-700"></div>
      <div class="w-1/4 h-full bg-black"></div></div>
  </div> -->
  <!-- <div class="absolute bottom-0 p-2 bg-amber-400">
    <div class="w-screen">
      <span class="flex justify-center">^</span>
    </div>
    <div class="overflow-x-scroll overflow-y-hidden whitespace-nowrap">
      <div class="inline-block w-32 h-32 bg-white"></div>
      <div class="inline-block w-32 h-32 bg-white"></div>
      <div class="inline-block w-32 h-32 bg-white"></div>
      <div class="inline-block w-32 h-32 bg-white"></div>
      <div class="inline-block w-32 h-32 bg-white"></div>
      <div class="inline-block w-32 h-32 bg-white"></div>
      <div class="inline-block w-32 h-32 bg-white"></div>
      <div class="inline-block w-32 h-32 bg-white"></div>
      <div class="inline-block w-32 h-32 bg-white"> </div>
    </div>
  </div> -->

  <!-- See https://tailwindcomponents.com/component/horizontal-scroll-card-components -->
  <div class="absolute bottom-0 p-auto m-auto bg-amber-400">
    <div class="w-screen">
      <span class="flex justify-center">^</span>
    </div>
    <div class="flex flex-col">
      <div class="flex overflow-x-scroll hide-scroll-bar">
        <div class="flex flex-nowrap">
          <div class="inline-block w-32 h-32 bg-white border"></div>
          <div class="inline-block w-32 h-32 bg-white border"></div>
          <div class="inline-block w-32 h-32 bg-white border"></div>
          <div class="inline-block w-32 h-32 bg-white border"></div>
          <div class="inline-block w-32 h-32 bg-white border"></div>
          <div class="inline-block w-32 h-32 bg-white border"></div>
          <div class="inline-block w-32 h-32 bg-white border"></div>
          <div class="inline-block w-32 h-32 bg-white border"></div>
          <div class="inline-block w-32 h-32 bg-white border"> </div>
        </div>
      </div>
    </div>
  </div>
</body>
<style>
  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }
</style>

</html>